<services>
  <!-- Install this as _service and replace the revision with a reviewed commit. -->
  <service name="obs_scm">
    <param name="scm">git</param>
    <param name="url">https://github.com/thefutureisprivate/custom-particleos.git</param>
    <param name="revision">REPLACE_WITH_REVIEWED_COMMIT</param>
    <param name="extract">.obs/fedora/x86-64/mkosi.conf</param>
    <param name="without-version">1</param>
  </service>
  <!-- The seed is an immutable recovery baseline; application updates publish
       independently through the stalwart_images repository. -->
  <service name="download_url">
    <param name="protocol">https</param>
    <param name="host">download.opensuse.org</param>
    <param name="path">/repositories/home:/thefutureisprivate/stalwart_seed_images/ParticleOS-Stalwart_0.16.17.25_x86-64.raw.zst</param>
    <param name="filename">ParticleOS-Stalwart_0.16.17.25_x86-64.raw.zst</param>
  </service>
  <service name="verify_file">
    <param name="file">_service:download_url:ParticleOS-Stalwart_0.16.17.25_x86-64.raw.zst</param>
    <param name="verifier">sha256</param>
    <param name="checksum">b6e0e454cfb1e690e6e9c88885d9641b725a65eab4f448db961b59343978c5bf</param>
  </service>
</services>
