# SPDX-License-Identifier: LGPL-2.1-or-later

[Unit]
Description=Initialize the ParticleOS PostgreSQL cluster
Documentation=file:/usr/share/doc/particleos/stalwart/README
ConditionPathExists=!/var/lib/pgsql/data/.particleos-initialized
Before=postgresql.service

[Service]
Type=oneshot
User=postgres
Group=postgres
ExecStart=/usr/lib/particleos/postgresql/initialize
CapabilityBoundingSet=
DevicePolicy=closed
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateMounts=yes
PrivateTmp=yes
ProcSubset=pid
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
ReadWritePaths=/var/lib/pgsql /run/postgresql
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
UMask=0077
