# SPDX-License-Identifier: LGPL-2.1-or-later

[Unit]
Description=Verify ParticleOS mailserver health
Documentation=man:systemd-bless-boot.service(8)
Documentation=file:/usr/share/doc/particleos/stalwart/README
Requires=systemd-resolved.service postgresql.service particleos-stalwart-database.service stalwart.service
After=systemd-resolved.service postgresql.service particleos-stalwart-database.service stalwart.service
Before=multi-user.target systemd-boot-check-no-failures.service boot-complete.target

[Service]
Type=oneshot
TimeoutStartSec=3min
User=stalwart
Group=stalwart
ExecStart=/usr/lib/particleos/health/mailserver
CapabilityBoundingSet=
DevicePolicy=closed
IPAddressAllow=localhost
IPAddressDeny=any
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
UMask=0077

[Install]
RequiredBy=multi-user.target boot-complete.target
