# SPDX-License-Identifier: LGPL-2.1-or-later

[Unit]
Description=Provision the ParticleOS administrator
Documentation=https://github.com/thefutureisprivate/custom-particleos/
After=local-fs.target systemd-tmpfiles-setup.service
Before=getty-pre.target sshd.socket systemd-user-sessions.service multi-user.target
ConditionPathExists=!/var/lib/particleos/admin-provisioned
RequiresMountsFor=/etc /home /var/lib/particleos

[Service]
Type=oneshot
ExecStart=/usr/lib/particleos/admin-firstboot
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/console
TTYReset=yes
TimeoutStartSec=infinity
UMask=0077

CapabilityBoundingSet=CAP_AUDIT_WRITE CAP_CHOWN CAP_DAC_OVERRIDE CAP_DAC_READ_SEARCH CAP_FOWNER CAP_MAC_ADMIN CAP_SETGID CAP_SETUID
IPAddressDeny=any
NoNewPrivileges=no
PrivateNetwork=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=no
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
ReadWritePaths=/etc /home /run /var/lib/particleos
RemoveIPC=yes
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
