# SPDX-License-Identifier: LGPL-2.1-or-later

[Unit]
Description=Relabel initrd runtime state after switch-root
Documentation=man:systemd-tmpfiles(8) man:tmpfiles.d(5)
DefaultDependencies=no
ConditionSecurity=selinux
ConditionPathExists=/run/udev
Before=systemd-udevd.service systemd-udevd-kernel.socket systemd-udevd-varlink.socket

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/systemd-tmpfiles --create --prefix=/dev --prefix=/run/udev
